/* Import fonts from.css file */

@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Start navigation */
.header_area .main-menu .navbar .navbar-skill {
  padding: 0 0 1rem 3rem;
}

.header_area .main-menu .nav-item .nav-link {
  /* font-family: 'Roboto', cursive; */
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* End navigation */

/* Banner area */

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: ' ';
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* End of Banner area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
  font-weight: 500;
}

/* End About Area */
/* Start skill Area */
.site-main .skill-area .skill-title h2 > span {
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
}
.site-main .skill-area {
  padding: 1rem 5rem;
  margin-bottom: 4rem;
}

.site-main .skill-area .col-lg-3 {
  display: flex;
  justify-content: center;
}

.site-main .skill-area .col-lg-3 > .single-skill {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 2px 2px 5px grey;
}

.site-main .skill-area .col-lg-3 > .single-skill > img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.site-main .skill-area .col-lg-3 > .single-skill:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .skill-area .col-lg-3 > .single-skill:hover > img {
  filter: brightness(1);
  transform: scale(1.7);
}

/* End skill Area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}
.site-main .project-area .button-group {
  margin-bottom: 10px;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font-weight: 500;
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */
