/* Import fonts from.css file */

@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

html {
  scroll-behavior: smooth;
}
/* Start navigation */

.header_area {
  box-shadow: var(--box-shadow);
}
.header_area .main-menu .navbar .navbar-skill {
  padding: 0 0 1rem 3rem;
}

.header_area .main-menu .nav-item .nav-link {
  /* font-family: 'Roboto', cursive; */
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* End navigation */

/* Banner area */

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: ' ';
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* End of Banner area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}
.site-main .project-area .button-group {
  margin-bottom: 10px;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-right: 3rem;
}

.site-main .project-area .button-group #btn1 {
  padding-right: 3rem;
}
.site-main .project-area .grid .my-project > .title h4 {
  font-weight: 500;
}

.site-main .project-area .grid .my-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

.site-main .skill-area .skill-title p {
  padding: 1rem 7rem;
}

.site-main .skill-area .technogy {
  width: 200px;
  height: 200px;
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
  text-align: center;
}

.site-main .skill-area .technogy .skill-technogy {
  padding-top: 2rem;
}

.site-main .skill-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .skill-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}
.site-main .skill-area .technogy .technogy-img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-item img {
  display: block;
  width: 70%;
}

footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
  font-weight: 500px;
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: grey;
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}

/* Contact css */

.site-main .contact-area {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}

.site-main .contact-area .contact-logo {
  display: flex;
  justify-content: center;
}

.site-main .contact-area .contact-info {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 10px;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 2px 2px 5px grey;
}

.site-main .contact-area .col-xl-6:hover {
  transform: scale(1.1);
}
.col-9 {
  text-align: start;
}

/* End contact Area */

/* End of contact css */
